.container-memorando{
    display: flex;
}
.tabela-memorandos-ct{
    padding: 10px;
}
.tabela-memorandos td{
    padding: 2px 5px;
}
.qtd-memo{
    background-color: #ccc;
    margin: 0;
    padding: 5px;
    border: 1px black solid;
}
@media (max-width: 1200px){
    .historico-cell{
        display: none;
    }
}