<!DOCTYPE html>
<html lang="pt-br">
{%extends "navbar.html"%}
<head>
    {%block header%}
 <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%endblock%}
</head>
<body>
    {%block content%}
 <div class="container">
    <div CLASS="menu">
        <form autocomplete="off" onsubmit="event.preventDefault(); onFormSubmit();">
            <label>Tipo</label>
            <input typee="text" name="tipo" id="tipo">
            <label>Valor</label>
            <input type="text" name="valor" id="valor">
            <input type="submit" value="Adicionar" class="btn">
        </form>
        <table class="list" id="list">

            <thead>
               <tr>
                   <th>Tipo</th>
                   <th>Valor</th>
                   <th>Opções</th>
               </tr>
           </thead>
           <tbody>
               
           </tbody>
        </table>
        <button class="btn" onclick="resetar()">Resetar</button>
    </div>
    <div class="detalhes">
    <table id="resultado" class="resultado">
        <thead>
            <th>Tipo</th>
            <th>Valor</th>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>R$ 0,00</td>
            </tr>
            <tr>
                <td>10</td>
                <td>R$ 0,00</td>
            </tr>
            <tr>
                <td>33</td>
                <td>R$ 0,00</td>
            </tr>      
            <tr>
                <td>37</td>
                <td>R$ 0,00</td>
            </tr>      
            <tr>
                <td>43</td>
                <td>R$ 0,00</td>
            </tr>      
            <tr>
                <td>99</td>
                <td>R$ 0,00</td>
            </tr>
            <tr>
                <td>Despesas extras</td>
                <td>R$ 0,00</td>
            </tr>              
        </tbody>
    </table>
    <table id="detalhes" class="resultado">
        <thead>
            <th>Descrição</th>
            <th>Valor</th>
        </thead>
        <tbody>
            <tr>
                <td>Descontos</td>
                <td>R$ 0,00</td>
            </tr>
            <tr>
                <td>Faltas</td>
                <td>R$ 0,00</td>
            </tr>
            <tr>
                <td>Liquido pago</td>
                <td>R$ 0,00</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="ajuda">
            <p style="text-align: center;"><strong>Legenda</strong></p>
            <p>01 = Salários</p>
            <p>10 = Insalubridade</p>
            <p>33 = Gratificações</p>
            <p>37 = Quinquenio</p>
            <p>43 = 13º Salários</p>
            <p>99 = Outros</p>
            <p style="background-color: hsla(37, 78%, 33%, 0.36);">ex = Despesas extras</p>
            <p style="background-color:hsla(212, 15%, 33%, 0.54)">d = Descontos</p>
            <p style="background-color: hsla(360, 78%, 33%, 0.54)">f = Faltas</p>
    </div>
</div>

 <script src="{{url_for('static', filename='js/main.js')}}"></script>
{%endblock%}
</body>
</html>