<!DOCTYPE html>
<html lang="pt-br">
{%extends "navbar.html"%}
<head>
    {%block header%}
    <meta charset="UTF-8">
    <title>Memorandos da {{current_user.secretaria}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/memorando.css') }}">
    {%endblock%}
</head>
<body>
{%block content%}
<div class="container-memorando">
    <div class="links" id="memo-form">
        <h1>Incluir Memorando</h1>
        <form method="POST">
            {{ form.csrf_token }}
            <input type="hidden" name="memo" value="incluir">
            <div class="campo">
                {{form.data.label}}
                {{form.data(autocomplete="off",type="date")}}
            </div>
            <div class="campo">
                {{form.credor.label}}
                {{form.credor(autocomplete="on")}}
            </div>
            <div class="campo">
                {{form.historico.label}}
                {{form.historico(style="resize: none; height: 15vh;")}}
            </div>
            <div class="campo">
                {{form.valor.label}}
                {{form.valor(id="valor")}}
            </div>
            {{form.submit(class="btn")}}
        </form>
    </div>
    
    <div class="tabela-memorandos-ct">
        <strong><p class="qtd-memo">|Secretaria: {{current_user.secretaria}}| |Usuário: {{current_user.username}}| |Total de memorandos: {{table|length}}|</p></strong>
        <table id="tabela-memorandos" class="tabela-memorandos">
            <thead>
                <th>Data</th>
                <th>Número de memorando</th>
                <th>Credor</th>
                <th class="historico-cell">Histórico</th>
                <th>Valor (R$)</th>
                <th>Criador</th>
                <th>Opções</th>
            </thead>
            <tbody>

            
            {% if table|length > 0 %}
                {% for i in table %}
                    <tr>
                        <td>{{formatData(i.data_memorando)}}</td>
                        <td>{{formatNumeroMemorando(i.data_memorando,i.n_memorando)}}</td>
                        <td>{{i.credor}}</td>
                        <td class="historico-cell">{{i.historico}}</td>
                        <td>{{i.valor}}</td>
                        <td>{{ user.query.filter_by(id=i.id_criador).first().username }}</td>
                        <td>
                            <form method="post" id="form-options">
                                <input type="hidden" id="{{i.data_memorando}}{{i.n_memorando}}" name="memo" value="{{i.data_memorando}}_{{i.n_memorando}}">
                                {{form2.submit(value="Remover", class="btn")}}
                            </form>
                        </td>
                    </tr>
                {%endfor%}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script src="{{url_for('static', filename='js/memo.js')}}"></script>
{%endblock%}
</body>
</html>